<h2>Info o autorze</h2>
<p>
    <strong> {{author.name}} {{author.surname}}</strong> <br>
    <span> Kierunek: {{author.fieldOfStudy}} </span> <br>
    <span> Rok: {{author.yearOfStudy}} </span> <br>
    <span> Tryb: {{author.modeOfStudy}} </span> <br>
</p>

<p>
    <img src="assets/github-logo.png" alt="Github Logo" /> <br>
    <span>Repozytorium: <a href="{{project.link}}">{{project.title}}</a></span> <br><hr>
    <span>{{project.descriptionShort}}</span> <br>
    <span>{{project.descriptionLong}}</span>
</p>