<div *ngIf="book">
    <h2>Edycja: {{book.title | uppercase }}</h2>
    <div><label>id: </label>{{book.id}}</div>
    <div>
        <label>title: </label>
            <input [(ngModel)]="book.title" placeholder="title"/>
        <br>
        <label>author:
            <input [(ngModel)]="book.author" placeholder="author">
        </label>
        <br>
        <label>year:
            <input [(ngModel)]="book.year" placeholder="year">
        </label>
        <br>
        <!-- <button (click)="removeBook(book)">Usuń</button> -->
        <!-- <button (click)="clearSelectedBook()">Close</button> -->
    </div>
</div>